<!-- Hayo Ngapain?:v -->
<!-- Credit Template By Farhan -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rest Api - Alcatraz</title>
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="vendors/owl-carousel-2/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Wk6KnE7aJHUHjpp_wBoDfkeSIOQfSGMmxg&usqp=CAU"><link rel="stylesheet" href="ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Wk6KnE7aJHUHjpp_wBoDfkeSIOQfSGMmxg&usqp=CAU"><link rel="stylesheet" href="ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css">
    <script src="ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js"></script>
   <meta name="description" content="Alcatraz - APIs">
   <meta property="og:image" content="https://i.ibb.co/zQ4wtHw/IMG-20211209-WA0025.jpg">
   <meta property="og:site_name" content="AlcApi">
   <meta name="keywords" content="REST API">
   <meta name="author" content="ConfuMods">
  </head>
  <body>
  <body id="page-top" onload="getvisitor();">
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo rounded-circle" href="#"><img src="images/logo1.png" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="#"><img src="images/logo1.png" class="rounded-circle" alt="logo" /></a>
        </div>
       <font face="Original Surfer">
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="https://i.ibb.co/zQ4wtHw/IMG-20211209-WA0025.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">ConfuMods</h5>
                  <span>Soy un principiante aun :(</span>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Docs</span>
          </li>
          <li class="nav-item menu-items">
          <a class="nav-link" href="#">
          <span class="menu-icon">
          <i class="mdi mdi-home"></i>
          </span>
          <span class="menu-title">Home</span>
          </a>
          </li>
          <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-cecan" aria-expanded="false" aria-controls="ui-img-maker">
          <span class="menu-icon">
          <i class="mdi mdi-folder-multiple-image"></i>
          </span>
          <span class="menu-title">Chicas</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-cecan">
          <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="api/cecan/china?apikey=ConfuMods">China</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/cecan/vietnam?apikey=ConfuMods">Vietnam</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/cecan/thailand?apikey=ConfuMods">Thailand </a></li>
          <li class="nav-item"> <a class="nav-link" href="api/cecan/indonesia?apikey=ConfuMods">Indonesia</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/cecan/korea?apikey=ConfuMods">Korea</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/cecan/japan?apikey=ConfuMods">Japon</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/cecan/malaysia?apikey=ConfuMods">Malaysia</a></li>
          </ul>
          </div>
          </li> 
          <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-downloader" aria-expanded="false" aria-controls="ui-downloader">
          <span class="menu-icon">
          <i class="mdi mdi-download"></i>
          </span>
          <span class="menu-title">Descargas</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-downloader">
          <ul class="nav flex-column sub-menu">
         <li class="nav-item"> <a class="nav-link"href="api/download/tiktok?url=https://vt.tiktok.com/ZSekUmEmL/&apikey=ConfuMods">Tiktok</a></li>
         <li class="nav-item"> <a class="nav-link"href="api/download/facebook?url=URL&apikey=ConfuMods">Facebook</a></li>
         <li class="nav-item"> <a class="nav-link"href="api/download/instagram?apikey=ConfuMods&url=https://www.instagram.com/p/CVl3U2Sv1Yv/?utm_medium=copy_link">Instagram</a></li>
         <li class="nav-item"> <a class="nav-link"href="api/download/pinterest?q=loli&apikey=ConfuMods">Pinterest</a></li>
         <li class="nav-item"> <a class="nav-link"href="api/download/ytmp3?url=https://youtu.be/-iJ3JAIh4w0&apikey=ConfuMods">Audio de YouTube</a></li>
		<li class="nav-item"> <a class="nav-link"href="api/download/ytsearch?query=cara membuat bot&apikey=ConfuMods">Buscar en YT</a></li>
         <li class="nav-item"> <a class="nav-link"href="api/download/ytmp4?url=https://youtu.be/-iJ3JAIh4w0&apikey=ConfuMods">Video de YouTube</a></li>          
          </ul>
          </div>
          </li> 
          <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-photooxy" aria-expanded="false" aria-controls="ui-photooxy">
          <span class="menu-icon">
          <i class="mdi mdi-folder-image"></i>
          </span>
          <span class="menu-title">Photooxy</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-photooxy">
          <ul class="nav flex-column sub-menu">
         
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/grafity_text?text=ConfuMods&apikey=ConfuMods">Grafity</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/naruto?text=ConfuMods&apikey=ConfuMods">Naruto</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/petterns?apikey=ConfuMods&text=ConfuMods">Patrones</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/text_on_cup?text=ConfuMods&apikey=ConfuMods">Taza</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/3d_summer?text=ConfuMods&apikey=ConfuMods">3d Verano</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/3d_nature?text=ConfuMods&apikey=ConfuMods">Naturaleza</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/wolf_metal?text=ConfuMods&apikey=ConfuMods">Lobo</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/wood_heart?text=ConfuMods&apikey=ConfuMods">Madera</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/flower_heart?text=ConfuMods&apikey=ConfuMods">Flor</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/wooden_board?text=ConfuMods&apikey=ConfuMods">Tabla de Madera</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/tiktok_effect?text=ConfuMods&text2=ofc&apikey=ConfuMods">Tiktok</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/coffee_cup?text=ConfuMods&apikey=ConfuMods">Cafe</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/under_grass?text=ConfuMods&apikey=ConfuMods">Bajo la Hierba</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/text_on_cup2?text=ConfuMods&apikey=ConfuMods">Taza 2</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/romantic_text?text=ConfuMods&apikey=ConfuMods">Romántico</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/burn_paper?text=ConfuMods&apikey=ConfuMods">Papel Burn</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/shadow_text?text=ConfuMods&apikey=ConfuMods">Sombra</a>
          </ul>
          </div>
          </li>
          <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-search" aria-expanded="false" aria-controls="ui-fun">
          <span class="menu-icon">
          <i class="mdi mdi-emoticon-happy"></i>
          </span>
          <span class="menu-title">Buscador</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-search">
          <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/api/search/joox?query=KarolG%20Ocean&apikey=ConfuMods">Joox</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/search/wallpaper?query=anime&apikey=ConfuMods">Wallpaper</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/search/wattpad?query=Damian&apikey=ConfuMods">Wattpad</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/search/komiku?query=naruto&apikey=ConfuMods">Komiku</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/search/otaku?query=naruto&apikey=ConfuMods">Otaku</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/search/anime?query=naruto&jumlah=2&apikey=ConfuMods">Anime</a></li>
          </ul>
          </div>
          </li>    
<li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-anime" aria-expanded="false" aria-controls="ui-anime">
          <span class="menu-icon">
          <i class="mdi mdi-cat"></i>
          </span>
          <span class="menu-title">Anime & Manga</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-anime">
          <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="api/anime/searchanime?query=naruto&apikey=ConfuMods">Anime</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/anime/samehadaku_genre?genre=sad&apikey=ConfuMods">Género</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/anime/samehadaku_page?page=183&apikey=ConfuMods">Pagina</a></li>
</ul>
          </div>
          </li>
<li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-nsfw" aria-expanded="false" aria-controls="ui-tools">
          <span class="menu-icon">
          <i class="mdi mdi-wrench"></i>
          </span>
          <span class="menu-title">Anime +18</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-nsfw">
          <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/ass?apikey=ConfuMods">Ass</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/ahegao?apikey=ConfuMods">Ahegao</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/bdsm?apikey=ConfuMods">Bdsm</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/blowjob?apikey=ConfuMods">Blowjob</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/cuckold?&apikey=ConfuMods">CuckOld</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/cum?apikey=ConfuMods">Cum</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/ero?apikey=ConfuMods">Ero</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/femdom?apikey=ConfuMods">Femdom</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/foot?apikey=ConfuMods">Foot</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/gangbang?apikey=ConfuMods">Gangbang</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/glasses?&apikey=ConfuMods">Glasses</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/hentai?apikey=ConfuMods">Hentai</a></li>
           <li class="nav-item"> <a class="nav-link" href="api/nsfw/hentaigif?apikey=ConfuMods">Hantai Gif</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/jahy?apikey=ConfuMods">Jahy</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/masturbation?apikey=ConfuMods">Masturbation</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/neko?apikey=ConfuMods">Neko</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/orgy?&apikey=ConfuMods">Orgy</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/panties?apikey=ConfuMods">Panties</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/pussy?apikey=ConfuMods">Pussy</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/thighs?apikey=ConfuMods">Thighs</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/yuri?&apikey=ConfuMods">Yuri</a></li>          
          </ul>
          </div>
          </li>        
          <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-oth" aria-expanded="false" aria-controls="ui-fun">
          <span class="menu-icon">
          <i class="mdi mdi-emoticon-happy"></i>
          </span>
          <span class="menu-title">Otros</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-oth">
          <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/api/other/ghstalk?username=Confusion245&apikey=ConfuMods">Github</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/other/repostalk?username=Confusion245&apikey=ConfuMods">Repositorio</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/other/fakedata?country=china&apikey=ConfuMods">Datos Falsos</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/other/translate?kata=pagi&apikey=ConfuMods">Traducir</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/other/simi?country=ola&apikey=ConfuMods">Simi</a></li>
          </ul>
          </div>
          </li>    
          <li class="nav-item nav-category">
          <span class="nav-link">Contactarme</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="https://github.com/Confusion245">
              <span class="menu-icon">
                <i class="mdi mdi-github-circle"></i>
              </span>
              <span class="menu-title">Github</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="https://wa.me/51923568749">
              <span class="menu-icon">
                <i class="mdi mdi-whatsapp"></i>
              </span>
              <span class="menu-title">WhatsApp</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="https://www.paypal.me/confusionmods">
              <span class="menu-icon">
                <i class="mdi mdi-saweria"></i>
              </span>
              <span class="menu-title">Donar</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="https://instagram.com/confumods">
              <span class="menu-icon">
                <i class="mdi mdi-instagram"></i>
              </span>
              <span class="menu-title">Instagram</span>
            </a>
          </li>
        </ul>
       </font>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><big><i class="mdi mdi-biohazard text-primary"></i></big></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex ">
                  <input type="text" class="form-control" placeholder="Alcatraz APIs">
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="#">
                  <i class="mdi mdi-view-grid"></i>
                </a>
              </li>
              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                  <i class="mdi mdi-bell"></i>
                  <span class="count bg-danger"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <h6 class="p-3 mb-0">Nuevas actualizaciones</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-calendar text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Cambiar plantilla</p>
                      <p class="text-muted ellipsis mb-0"> Solo una plantilla</p>
                    </div>
                  </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="https://i.ibb.co/zQ4wtHw/IMG-20211209-WA0025.jpg" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">ConfuMods</p>
                  </div>
                </a>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h5 class="font-weight-bold text-danger text-uppercase">IP</h5>
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0" id="ip">Espera...</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-access-point-network icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <font face="Original Surfer" class="text-muted font-weight-normal">Tu IP</font>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h6 class="font-weight-bold text-info text-uppercase">Tu Batería</h6>
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                        	<span id="batteryLevel"></span>
                          <h3 class="mb-0" id="percentageLevel">Espera...</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-battery-positive"></span>
                        </div>
                      </div>
                    </div>
                    <font face="Original Surfer" class="text-muted font-weight-normal">Porcentaje de su batería</font>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h5 class="font-weight-bold text-success text-uppercase">Visitantes</h5>
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0" id="visits">Espera...</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-eye icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <font face="Original Surfer" class="text-muted font-weight-normal">Alc-Api</font>
                  </div>
                </div>
              </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h5 class="font-weight-bold text-info text-uppercase">Fecha</h5>
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h4 class="mb-0" id="tanggal">Espera...</h4>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-calendar icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <font face="Original Surfer" class="text-muted font-weight-normal">Justo ahora</font>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h5 class="font-weight-bold text-success text-uppercase">Reloj</h5>
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h4 class="mb-0" id="Clock">Espera...</h4>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-clock icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <font face="Original Surfer" class="text-muted font-weight-normal" id="Ucapan">Ucapan</font>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h6 class="font-weight-bold text-info text-uppercase">Navidad</h6>
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h5 class="mb-0" id="IdulAdha">Espera...</h5>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-star icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <font face="Original Surfer" class="text-muted font-weight-normal">Cuenta regresiva</font>
                  </div>
                </div>
              </div>
            </div>
            <form action="/api/cekapikey">
              <div class="card card-round mt-5 stretch-card grid-margin">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h4 class="m-0 font-weight-bold text-warning"><i <h4>VERIFICAR APIKEY</h4>
                </div>
               <div class="card-body">
                 <p class="status" style="font-size: 17px;"></p>
                   <div class="form-group">
                     <input class="form-control font-weight-bold text-center" type="text" placeholder="Introduce tu Apikey." name="apikey" required>
                   </div>
                   <div class="form-group"><center>
                     <button type="submit" class="btn btn-primary content-justify-center"><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i> <span class="font-weight-bold"> Entregar</span></button></center>
                   </div>
               </div>
             </div>
            </form>
<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-gw-3+1f-3d+2z" data-ad-client="ca-pub-5404310597803049" data-ad-slot="6657550061"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
            <div class="row">
              <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="mt-3 btn btn-outline-danger bg-transparent">
                    <div id="demo" class="alert btn btn-outline-danger" role="alert">
                      <span id="Statistic">Espera...</span>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
              <div class="card-body">
              <img src="https://i.ibb.co/zQ4wtHw/IMG-20211209-WA0025.jpg" alt="ConfuMods" class="logo img-fluid rounded mx-auto d-block mb-4"/>
              <h6 class="m-0 font-weight-bold text-primary">Informacion</h6>
              <h6><br>
              Esta ApiRest es gratis, utilícelo sabiamente. <br><br>Apikey? : <font color="red">ConfuMods</font>
              <br> Si encuentra un error, informe <a href="https://wa.me/51923568749"> Owner</a></font>
              </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <div class="bg-dark btn btn-block btn-outline-danger">
                <font face="Original Surfer" class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © <span id="Years">00</span> ConfuMods</font>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script>
      swal({
        title: 'Bienvenido a Alc-Api',
        text: 'Si hay un error, informe a ConfuMods',
        imageUrl: 'https://i.ibb.co/zQ4wtHw/IMG-20211209-WA0025.jpg',
        imageWidth: 200,
        imageHeight: 200,
        imageAlt: 'Danu',
        animation: true
      })
    </script>
			<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>   
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <script src="vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/misc.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/todolist.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/ojan.js"></script>
  </html>
